@tailwind base;
@tailwind components;
@tailwind utilities;

@import '@radix-ui/colors/black-alpha.css';
@import '@radix-ui/colors/mauve.css';
@import '@radix-ui/colors/violet.css';
@import '@radix-ui/colors/green.css';
@import '@radix-ui/colors/slate.css';
@import '@radix-ui/themes/styles.css';
@import 'sakura-js/dist/sakura.css';
@import './radix.css';


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.themeStyle {
  /* min-height: calc(100dvh - 64px); */
  padding-top: 70px;
  background: transparent;
  z-index: 1;
}

body {
  background: url('/sakura.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* reset */
input,
textarea,
button {
  all: unset;
  box-sizing: border-box;
}

